/Kuis/KuisSatuMSyifa'ul/nbproject/private/
/Kuis/KuisSatuMSyifa'ul/build/
/Kuis/CobaLowend/nbproject/private/
/Kuis/CobaLowend/build/
/Kuis/Jobsheet5/nbproject/private/
/Kuis/Jobsheet5/build/
/Pertemuan7/Jobsheet7/nbproject/private/
/Pertemuan7/Jobsheet7/build/
/Pertemuan8/StrukturData/nbproject/private/
/Pertemuan8/StrukturData/build/
/UJIAN TENGAH SEMESTER/UTS/nbproject/private/
/UJIAN TENGAH SEMESTER/UTS/build/
/Pertemuan10/Jobsheet10/nbproject/private/
/Pertemuan10/Jobsheet10/build/