/Kuis/KuisSatuMSyifa'ul/nbproject/private/
/Kuis/KuisSatuMSyifa'ul/build/
/Kuis/CobaLowend/nbproject/private/
/Kuis/CobaLowend/build/
/Kuis/Jobsheet5/nbproject/private/
/Kuis/Jobsheet5/build/
/Pertemuan7/Jobsheet7/nbproject/private/
/Pertemuan7/Jobsheet7/build/