/Kuis/KuisSatuMSyifa'ul/nbproject/private/
/Kuis/KuisSatuMSyifa'ul/build/
/Kuis/CobaLowend/nbproject/private/
/Kuis/CobaLowend/build/
/Kuis/Jobsheet5/nbproject/private/
/Kuis/Jobsheet5/build/
/Pertemuan7/Jobsheet7/nbproject/private/
/Pertemuan7/Jobsheet7/build/
/Pertemuan8/StrukturData/nbproject/private/
/Pertemuan8/StrukturData/build/
/UJIAN TENGAH SEMESTER/UTS/nbproject/private/
/UJIAN TENGAH SEMESTER/UTS/build/
/Pertemuan10/Jobsheet10/nbproject/private/
/Pertemuan10/Jobsheet10/build/
/Pertemuan11/Jobsheet11/nbproject/private/
/Pertemuan11/Jobsheet11/build/
/Kuis2/Quiz2/nbproject/private/
/Kuis2/Quiz2/build/
/Pertemuan13/Jobsheet13/nbproject/private/
/Pertemuan13/Jobsheet13/build/
/Pertemuan14/Jobsheet14/nbproject/private/
/Pertemuan14/Jobsheet14/build/